@model IEnumerable<Cubic.Data.ViewModel.ApplicationRoleViewModel>

@{
    ViewBag.Title = "Portal Role";
    Layout = "~/Views/Shared/_APPLayout.cshtml";
}
@Html.Partial("_ToastrViewHeader")
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <!-- Begin page heading -->
            <h1 class="page-heading text-center">Role</h1>
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Role Details</h3>
                </div>
                <div class="panel-heading">
                    <a data-target='#addedit_modal' role="button" class="btn btn-primary  btn_add" data-toggle="modal">Add Role</a>
                    <span class="label label-info pull-right">
                        @{
                        if (Model.Any())
                        {
                            @Model.Count()
                    }
                        }
                    </span>
                </div>
                <div class="box-body" style="min-height: 500px;">
                    <table class="table table-bordered table-striped" id="roleTable">
                        <thead>
                            <tr>
                                <th>S/N</th>
                                <th>Role Name</th>
                                <th width="5%"></th>
                                <th width="5%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int rowNo = 0;}
                            @foreach (var item in Model)
                        {
                            <tr>
                                <td>@(rowNo += 1)</td>
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                @if (item.Name.ToLower().Trim() != "PortalAdmin".ToLower().Trim())
                            {
                                <td><a data-target='#addedit_modal' role='button' data-edit-id='@Html.DisplayFor(modelItem => item.Id)' class='btn btn-default editBtn' data-toggle='modal'><i class='fa fa-edit'></i>Edit</a></td>
                                <td><a data-target='#delete_modal' role='button' data-delete-id='@Html.DisplayFor(modelItem => item.Id)' class='btn btn-danger deleteBtn' data-toggle='modal'><i class='fa fa-trash'></i></a></td>

                        }
                        else
                        {
                            <td></td>
                            <td></td>
                    }
                            </tr>
                    }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="addedit_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" id="addedit_modal_body">
                    </div>
                </div>
            </div>
            <!--Delete User-->
            <div class="modal fade" id="delete_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" id="delete_content">
                    </div>
                </div>
            </div>
            @section JavaScript
            {
            <script type="text/javascript">
                    $(".select2").select2();

                    $(function () {

                        function bindForm(dialog) {
                            $("form", dialog).submit(function () {
                                $.ajax({
                                    url: this.action,
                                    type: this.method,
                                    data: $(this).serialize(),
                                    success: function (result) {
                                        if (result.success) {
                                            $('#addedit_modal').modal("hide");
                                            // Refresh:
                                            location.reload();

                                        } else {

                                            $('#addedit_modal_body').html(result);
                                            bindForm();
                                        }
                                    }, error: function (request, status, error) {
                                        alert(JSON.stringify(error));
                                    }
                                });


                                return false;
                            });
                        }

                        //Load the edit page
                        $(".btn_add").click(function () {

                            url = "@Url.Action("Create", "PortalRole", new { area = "Portal" })";
                            console.log(url);

                            $("#addedit_modal_body").load(url, function () {

                                $("#addedit_modal").modal({
                                    backdrop: 'static',
                                    keyboard: true
                                }, "show");
                                bindForm(this);
                            });
                            return false;
                        });


                        //Load the edit page
                        $(".editBtn").click(function () {

                            url = '@Url.Action("Edit", "PortalRole", new { area = "Portal", id = "_id_" })'.replace('_id_', $(this).data("edit-id"));
                            console.log(url);

                            $("#addedit_modal_body").load(url, function (responseTxt, statusTxt, xhr) {
                                $("#addedit_modal").modal({
                                    backdrop: 'static',
                                    keyboard: true
                                }, "show");
                                bindForm(this);
                            });
                            return false;
                        });

                        //Handle the delete function
                        $(".deleteBtn").click(function () {


                            url = '@Url.Action("Delete", "PortalRole", new { area = "Portal", id = "_id_" })'.replace('_id_', $(this).data("delete-id"));
                            console.log(url);

                            $("#delete_content").load(url);

                        });

                        $('#roleTable').DataTable({
                            "paging": true,
                            "lengthChange": true,
                            "searching": true,
                            "ordering": true,
                            "info": true,
                            "autoWidth": true,
                            "order": [[0, "asc"]],
                            dom: 'Bfltip',
                            buttons: [
                                'copy',
                                  {
                                      extend: 'csvHtml5', text: 'Excel'
                                  },
                                  //'csv', 'excel',
                                  'pdf', 'print'
                            ]
                        });


                    });

            </script>
            }
        </div>
    </div>
</section>
