@using Microsoft.AspNetCore.Identity
@using Cubic.Data.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">

    <link rel="shortcut icon" href="~/assets/images/favicon.ico">
    <title>@ViewData["Title"] - Cubic</title>

    <environment include="Development">
        <!--Morris Chart CSS -->
        <link rel="stylesheet" href="~/plugins/morris/morris.css">
        <!-- App css -->
        <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/css/core.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/css/components.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/css/icons.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/css/pages.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/css/menu.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/css/responsive.css" rel="stylesheet" type="text/css" />
        <link href="~/plugins/toastr/toastr.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/plugins/switchery/switchery.min.css">
        <script src="~/assets/js/modernizr.min.js"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/assets/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <!--Morris Chart CSS -->
        <link rel="stylesheet" href="~/plugins/morris/morris.css">
        <link href="~/assets/css/core.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/css/components.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/css/icons.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/css/pages.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/css/menu.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/css/responsive.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="~/plugins/switchery/switchery.min.css">
        <script src="~/assets/js/modernizr.min.js"></script>
    </environment>

</head>


<body class="fixed-left">

    <!-- Loader -->
    @*<div id="preloader">
            <div id="status">
                <div class="spinner">
                    <div class="spinner-wrapper">
                        <div class="rotator">
                            <div class="inner-spin"></div>
                            <div class="inner-spin"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

    <!-- Begin page -->
    <div id="wrapper">

        <!-- Top Bar Start -->
        <div class="topbar">

            <!-- LOGO -->
            <div class="topbar-left">
                <a href="index.html" class="logo"><span>Zir<span>cos</span></span><i class="mdi mdi-cube"></i></a>
                <!-- Image logo -->
                <!--<a href="index.html" class="logo">-->
                <!--<span>-->
                <!--<img src="assets/images/logo.png" alt="" height="30">-->
                <!--</span>-->
                <!--<i>-->
                <!--<img src="assets/images/logo_sm.png" alt="" height="28">-->
                <!--</i>-->
                <!--</a>-->
            </div>

            <!-- Button mobile view to collapse sidebar menu -->
            <div class="navbar navbar-default" role="navigation">
                <div class="container">

                    <!-- Navbar-left -->
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <button class="button-menu-mobile open-left waves-effect waves-light">
                                <i class="mdi mdi-menu"></i>
                            </button>
                        </li>

                    </ul>

                    <!-- Right(Notification) -->
                    <ul class="nav navbar-nav navbar-right">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="dropdown user-box">
                                <a href="#" class="dropdown-toggle waves-effect waves-light user-link" data-toggle="dropdown" aria-expanded="true">
                                    <img src="~/assets/images/users/avatar-1.jpg" alt="user-img" class="img-circle user-img">
                                </a>


                                <ul class="dropdown-menu dropdown-menu-right arrow-dropdown-menu arrow-menu-right user-list notify-list">
                                    <li>
                                        <h5>Hi,@User.FindFirst("FullName").Value</h5>
                                    </li>

                                    <li><a href="javascript:void(0)"><i class="ti-user m-r-5"></i> Profile</a></li>
                                    <li>
                                        <a data-target='#addedit_modal' role="button" class="btn_changepassword" data-toggle="modal">
                                            <i class="ti-settings m-r-5"></i> Change Password
                                        </a>
                                    </li>
                                    <li><a href="javascript:void(0)"><i class="ti-lock m-r-5"></i> Lock screen</a></li>
                                    <li class="divider"> </li>
                                    <li>
                                        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                                            <a href="javascript:document.getElementById('logoutForm').submit()" style="padding: 5px 0 0 25px"><i class="ti-power-off m-r-5"></i>Logout</a>
                                        </form>
                                    </li>

                                </ul>
                            </li>


                        }

                    </ul> <!-- end navbar-right -->

                </div><!-- end container -->
            </div><!-- end navbar -->
        </div>
        <!-- Top Bar End -->
        <!-- ========== Left Sidebar Start ========== -->
        <div class="left side-menu">
            <div class="sidebar-inner slimscrollleft">

                <!--- Sidemenu -->
                <div id="sidebar-menu">

                    <ul>
                        <li class="menu-title">Navigation</li>

                        <li class="has_sub">
                            <a asp-area="Portal" asp-controller="Dashboard" asp-action="Index" class="waves-effect"><i class="mdi mdi-view-dashboard"></i><span> Dashboard </span> </a>
                        </li>

                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-invert-colors"></i> <span> Administration </span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled">
                                <li><a asp-area="Portal" asp-controller="PortalPermission" asp-action="Index">Premission</a></li>
                                <li><a asp-area="Portal" asp-controller="EmailTemplate" asp-action="Index">Email Template</a></li>
                                <li><a asp-area="Portal" asp-controller="PortalRole" asp-action="Index">Portal Role</a></li>
                                <li><a asp-area="Portal" asp-controller="Dashboard" asp-action="Index">Portlets</a></li>
                            </ul>
                        </li>

                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-layers"></i><span> Admin UI </span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled">
                                <li><a href="admin-sweet-alert.html">Sweet Alert</a></li>
                                <li><a href="admin-widgets.html">Widgets</a></li>
                                <li><a href="admin-nestable.html">Nestable List</a></li>
                                <li><a href="admin-rangeslider.html">Range Slider</a></li>
                                <li><a href="admin-ratings.html">Ratings</a></li>
                                <li><a href="admin-animation.html">Animation</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="calendar.html" class="waves-effect"><i class="mdi mdi-calendar"></i><span> Calendar </span></a>
                        </li>

                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-email"></i><span> Email </span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled">
                                <li><a href="email-inbox.html"> Inbox</a></li>
                                <li><a href="email-read.html"> Read Mail</a></li>
                                <li><a href="email-compose.html"> Compose Mail</a></li>
                            </ul>
                        </li>

                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-heart-outline"></i><span> Icons </span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled">
                                <li><a href="icons-glyphicons.html">Glyphicons</a></li>
                                <li><a href="icons-colored.html">Colored Icons</a></li>
                                <li><a href="icons-materialdesign.html">Material Design</a></li>
                                <li><a href="icons-ionicons.html">Ion Icons</a></li>
                                <li><a href="icons-fontawesome.html">Font awesome</a></li>
                                <li><a href="icons-themifyicon.html">Themify Icons</a></li>
                                <li><a href="icons-typicons.html">Typicons</a></li>
                            </ul>
                        </li>

                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-diamond"></i><span class="badge badge-danger pull-right">New</span> <span> Forms </span></a>
                            <ul class="list-unstyled">
                                <li><a href="form-elements.html">Form Elements</a></li>
                                <li><a href="form-advanced.html">Form Advanced</a></li>
                                <li><a href="form-validation.html">Form Validation</a></li>
                                <li><a href="form-pickers.html">Form Pickers</a></li>
                                <li><a href="form-wizard.html">Form Wizard</a></li>
                                <li><a href="form-mask.html">Form Masks</a></li>
                                <li><a href="form-summernote.html">Summernote</a></li>
                                <li><a href="form-wysiwig.html">Wysiwig Editors</a></li>
                                <li><a href="form-uploads.html">Multiple File Upload</a></li>
                            </ul>
                        </li>

                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-format-list-bulleted"></i> <span> Tables </span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled">
                                <li><a href="tables-basic.html">Basic Tables</a></li>
                                <li><a href="tables-layouts.html">Tables Layouts</a></li>
                                <li><a href="tables-datatable.html">Data Table</a></li>
                                <li><a href="tables-responsive.html">Responsive Table</a></li>
                                <li><a href="tables-tablesaw.html">Tablesaw Table</a></li>
                                <li><a href="tables-editable.html">Editable Table</a></li>
                            </ul>
                        </li>

                        <li class="menu-title">Extra</li>

                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-chart-arc"></i><span> Charts </span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled">
                                <li><a href="chart-flot.html">Flot Chart</a></li>
                                <li><a href="chart-morris.html">Morris Chart</a></li>
                                <li><a href="chart-google.html">Google Chart</a></li>
                                <li><a href="chart-chartist.html">Chartist Charts</a></li>
                                <li><a href="chart-chartjs.html">Chartjs Chart</a></li>
                                <li><a href="chart-c3.html">C3 Chart</a></li>
                                <li><a href="chart-sparkline.html">Sparkline Chart</a></li>
                                <li><a href="chart-knob.html">Jquery Knob</a></li>
                            </ul>
                        </li>

                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-map"></i> <span> Maps </span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled">
                                <li><a href="maps-google.html">Google Maps</a></li>
                                <li><a href="maps-vector.html">Vector Maps</a></li>
                                <li><a href="maps-mapael.html">Mapael Maps</a></li>
                            </ul>
                        </li>

                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-google-pages"></i><span> Pages </span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled">
                                <li><a href="page-starter.html">Starter Page</a></li>
                                <li><a href="page-login.html">Login</a></li>
                                <li><a href="page-register.html">Register</a></li>
                                <li><a href="page-logout.html">Logout</a></li>
                                <li><a href="page-recoverpw.html">Recover Password</a></li>
                                <li><a href="page-lock-screen.html">Lock Screen</a></li>
                                <li><a href="page-confirm-mail.html">Confirm Mail</a></li>
                                <li><a href="page-404.html">Error 404</a></li>
                                <li><a href="page-404-alt.html">Error 404-alt</a></li>
                                <li><a href="page-500.html">Error 500</a></li>
                            </ul>
                        </li>

                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-gift"></i><span> Extras </span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled">
                                <li><a href="extras-profile.html">Profile</a></li>
                                <li><a href="extras-sitemap.html">Sitemap</a></li>
                                <li><a href="extras-about.html">About Us</a></li>
                                <li><a href="extras-contact.html">Contact</a></li>
                                <li><a href="extras-members.html">Members</a></li>
                                <li><a href="extras-timeline.html">Timeline</a></li>
                                <li><a href="extras-invoice.html">Invoice</a></li>
                                <li><a href="extras-search-result.html">Search Result</a></li>
                                <li><a href="extras-emailtemplate.html">Email Template</a></li>
                                <li><a href="extras-maintenance.html">Maintenance</a></li>
                                <li><a href="extras-coming-soon.html">Coming Soon</a></li>
                                <li><a href="extras-faq.html">FAQ</a></li>
                                <li><a href="extras-gallery.html">Gallery</a></li>
                                <li><a href="extras-pricing.html">Pricing</a></li>
                            </ul>
                        </li>

                        <li class="menu-title">More</li>

                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-comment-text-outline"></i><span> Blog </span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled">
                                <li><a href="blogs-dashboard.html">Dashboard</a></li>
                                <li><a href="blogs-blog-list.html">Blog List</a></li>
                                <li><a href="blogs-blog-column.html">Blog Column</a></li>
                                <li><a href="blogs-blog-post.html">Blog Post</a></li>
                                <li><a href="blogs-blog-add.html">Add Blog</a></li>
                            </ul>
                        </li>

                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-home-map-marker"></i><span> Real Estate </span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled">
                                <li><a href="real-estate-dashboard.html">Dashboard</a></li>
                                <li><a href="real-estate-list.html">Property List</a></li>
                                <li><a href="real-estate-column.html">Property Column</a></li>
                                <li><a href="real-estate-detail.html">Property Detail</a></li>
                                <li><a href="real-estate-agents.html">Agents</a></li>
                                <li><a href="real-estate-profile.html">Agent Details</a></li>
                                <li><a href="real-estate-add.html">Add Property</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
                <!-- Sidebar -->
                <div class="clearfix"></div>

                <div class="help-box">
                    <h5 class="text-muted m-t-0">For Help ?</h5>
                    <p class=""><span class="text-dark"><b>Email:</b></span> <br /> support@support.com</p>
                    <p class="m-b-0"><span class="text-dark"><b>Call:</b></span> <br /> (+123) 123 456 789</p>
                </div>

            </div>
            <!-- Sidebar -left -->

        </div>
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                @RenderBody()
            </div>
            <!-- content -->

            <footer class="footer text-right">
                2016 - 2018 © Zircos.
            </footer>

        </div>

        <!-- Modal -->
        <div class="modal fade" id="addedit_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content" id="addedit_modal_body">
                </div>
            </div>
        </div>
        <!--Delete User-->
        <div class="modal fade" id="delete_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" id="delete_content">
                </div>
            </div>
        </div>
    </div>
    <!-- END wrapper -->


    <environment include="Development">

        <script>
            var resizefunc = [];
        </script>

        <!-- jQuery  -->
        <script src="~/assets/js/jquery.min.js"></script>
        <script src="~/assets/js/bootstrap.min.js"></script>

        <script src="~/plugins/toastr/toastr.min.js"></script>
        <script src="~/js/Apptoastr.js"></script>

        <script src="~/assets/js/detect.js"></script>
        <script src="~/assets/js/fastclick.js"></script>
        <script src="~/assets/js/jquery.blockUI.js"></script>
        <script src="~/assets/js/waves.js"></script>
        <script src="~/assets/js/jquery.slimscroll.js"></script>
        <script src="~/assets/js/jquery.scrollTo.min.js"></script>
        <script src="~/plugins/switchery/switchery.min.js"></script>

        <!-- Counter js  -->
        <script src="~/plugins/waypoints/jquery.waypoints.min.js"></script>
        <script src="~/plugins/counterup/jquery.counterup.min.js"></script>

        <!--Morris Chart-->
        <script src="~/plugins/morris/morris.min.js"></script>
        <script src="~/plugins/raphael/raphael-min.js"></script>

        <!-- Dashboard init -->
        <script src="~/assets/pages/jquery.dashboard.js"></script>

        <!-- App js -->
        <script src="~/assets/js/jquery.core.js"></script>
        <script src="~/assets/js/jquery.app.js"></script>
        <script src="~/assets/js/jquery.app.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>


    <script type="text/javascript">
        $(function () {

            var url = '';

            function bindForm(dialog) {
                $("form", dialog).submit(function () {
                    $.ajax({
                        url: this.action,
                        type: this.method,
                        data: $(this).serialize(),
                        success: function (result) {
                            if (result.success) {
                                $('#addedit_modal').modal("hide");
                                // Refresh:
                                location.reload();

                            } else {

                                $('#addedit_modal_body').html(result);
                                bindForm();
                            }
                        }, error: function (request, status, error) {
                            alert(JSON.stringify(error));
                        }
                    });


                    return false;
                });
            }

            //Load the edit page
            $(".btn_changepassword").click(function () {

                url = "@Url.Action("ChangePassword", "Account", new { area = "" })";
                console.log(url);

                $("#addedit_modal_body").load(url, function () {
                    $("#addedit_modal").modal({
                        backdrop: 'static',
                        keyboard: true
                    }, "show");
                    bindForm(this);
                });
                return false;
            });


        });

    </script>
    @RenderSection("Scripts", required: false)
    @RenderSection("JavaScript", required: false)
    
</body>
</html>